<img src="<%= accessorie.image_url %>" alt="">
<p>Alabaster</p>
<p><%= accessorie.name %></p>
<p><%= accessorie.price %></p>

<% if(currentUser.user_type === "administrator")  { %>

<a href="/accessories/<%= accessorie.id %>/edit">EDIT ACCESSORY</a>

<% } %>

<p><a href="">Shipping</a> calculated at checkout</p>



<div>
    <div>
        <button>ADD TO CART</button>
        <button>Buy with <img src="https://www.pagetraffic.com/blog/wp-content/uploads/2022/05/about-shop-pay.jpg" alt=""></button>
    </div>
    <div>
        <%= accessorie.description %>
    </div>
</div>

<div>
    <div>
        <img src="<%= accessorie.image_url_1 %>" alt="">
    </div>
    <div>
        <img src="<%= accessorie.image_url_2 %>" alt="">
    </div>
</div>