<div class="a-i-img">
<img src="<%= accessorie.image_url %>" alt="">
</div>

<p class="alabaster">Alabaster</p>
<p class="a-i-name"><%= accessorie.name %></p>
<p class="a-i-price">$<%= accessorie.price %>.00 AUD</p>

<% if(currentUser.user_type === "administrator")  { %>

<a href="/accessories/<%= accessorie.id %>/edit" class="edit-accessorie">EDIT ACCESSORY</a>

<% } %>

<p class="shipping"><a href="">Shipping</a> calculated at checkout</p>



<div class="a-i-wrapper">
    <div class="a-i-buttons">
        <button>ADD TO CART</button>
    </div>
    <div class="a-i-description">
        <%= accessorie.description %>
    </div>
</div>


<div class="a-i-bot-img">
    <div>
        <img src="<%= accessorie.image_url_1 %>" alt="">
    </div>
    <div>
        <img src="<%= accessorie.image_url_2 %>" alt="">
    </div>
</div>