<div class="o-i-img">
<img src="<%= object.image_url %>" alt="">
</div>

<p class="alabaster">Alabaster</p>
<p class="o-i-name"><%= object.name %></p>
<p class="o-i-price">$<%= object.price %>.00 AUD</p>

<% if(currentUser.user_type === "administrator")  { %>

<a href="/objects/<%= object.id %>/edit" class="edit-object">EDIT OBJECT</a>

<form action="/objects/<%= object.id %>?_method=delete" method="post">
    <button class="delete-btn">DELETE</button>
</form>

<% } %>

<p class="shipping"><a href="">Shipping</a> calculated at checkout</p>


<div class="o-i-wrapper">
    <div class="o-i-buttons">
        <button>ADD TO CART</button>
    </div>
    <div class="o-i-description">
        <%= object.description %>
    </div>
</div>

<div class="o-i-bot-img">
    <div>
        <img src="<%= object.image_url_1 %>" alt="">
    </div>
    <div>
        <img src="<%= object.image_url_2 %>" alt="">
    </div>
    <div>
        <img src="<%= object.image_url_3 %>" alt="">
    </div>
    <div>
        <img src="<%= object.image_url_4 %>" alt="">
    </div>
    <div>
        <img src="<%= object.image_url_5 %>" alt="">
    </div>
    <div>
        <img src="<%= object.image_url_6 %>" alt="">
    </div>
    <div>
        <img src="<%= object.image_url_7 %>" alt="">
    </div>
    <div>
        <img src="<%= object.image_url_8 %>" alt="">
    </div>
    <div>
        <img src="<%= object.image_url_9 %>" alt="">
    </div>
</div>