<h3 style="color: white; text-align: center;">EDIT <%= object.name %></h3>

<form action="/objects/<%= object.id %>?_method=put" method="post" class="form-main">
    <label for="" class="label-name">NAME</label>
    <input type="text" name="name" value="<%= object.name %>">
    
    <label for="" class="label-image">MAIN IMAGE</label>
    <input type="text" name="image_url" value="<%= object.image_url %>">

    <label for="" class="label-image">IMAGE ONE</label>
    <input type="text" name="image_url_1" value="<%= object.image_url_1 %>">

    <label for="" class="label-image">IMAGE TWO</label>
    <input type="text" name="image_url_2" value="<%= object.image_url_2 %>">

    <label for="" class="label-image">IMAGE THREE</label>
    <input type="text" name="image_url_3" value="<%= object.image_url_3 %>">

    <label for="" class="label-image">IMAGE FOUR</label>
    <input type="text" name="image_url_4" value="<%= object.image_url_4 %>">

    <label for="" class="label-image">IMAGE FIVE</label>
    <input type="text" name="image_url_5" value="<%= object.image_url_5 %>">

    <label for="" class="label-image">IMAGE SIX</label>
    <input type="text" name="image_url_6" value="<%= object.image_url_6 %>">

    <label for="" class="label-image">IMAGE SEVEN</label>
    <input type="text" name="image_url_7" value="<%= object.image_url_7 %>">

    <label for="" class="label-image">IMAGE EIGHT</label>
    <input type="text" name="image_url_8" value="<%= object.image_url_8 %>">

    <label for="" class="label-image">IMAGE NINE</label>
    <input type="text" name="image_url_9" value="<%= object.image_url_9 %>">

    <label for="" class="label-price">PRICE</label>
    <input type="text" name="price" value="<%= object.price %>">

    <label for="" class="label-description">DESCRIPTION</label>
    <textarea name="description"><%= object.description %></textarea>

    <button class="post-edit-btn">UPDATE</button>
</form>