<img src="<%= object.image_url %>" alt="">
<p>Alabaster</p>
<p><%= object.name %></p>
<p><%= object.price %></p>
<a href="/objects/<%= object.id %>/edit">EDIT OBJECT</a>
<p><a href="">Shipping</a> calculated at checkout</p>

<div>
    <div>
        <button>ADD TO CART</button>
        <button>Buy with <img src="https://www.pagetraffic.com/blog/wp-content/uploads/2022/05/about-shop-pay.jpg" alt=""></button>
    </div>
    <div>
        <%= object.description %>
    </div>
</div>

<div>
    <div>
        <img src="<%= object.image_url_1 %>" alt="">
    </div>
    <div>
        <img src="<%= object.image_url_2 %>" alt="">
    </div>
    <div>
        <img src="<%= object.image_url_3 %>" alt="">
    </div>
    <div>
        <img src="<%= object.image_url_4 %>" alt="">
    </div>
    <div>
        <img src="<%= object.image_url_5 %>" alt="">
    </div>
    <div>
        <img src="<%= object.image_url_6 %>" alt="">
    </div>
    <div>
        <img src="<%= object.image_url_7 %>" alt="">
    </div>
    <div>
        <img src="<%= object.image_url_8 %>" alt="">
    </div>
    <div>
        <img src="<%= object.image_url_9 %>" alt="">
    </div>
</div>