<div class="w-i-img">
<img src="<%= watch.image_url %>" alt="">
</div>

<p class="alabaster">Alabaster</p>
<p class="w-i-name"><%= watch.name %></p>
<p class="w-i-price">$<%= watch.price %>.00 AUD</p>

<% if(currentUser.user_type === "administrator")  { %>

<a href="/watches/<%= watch.id %>/edit" class="edit-watch">EDIT WATCH</a>

<% } %>

<p class="shipping"><a href="">Shipping</a> calculated at checkout</p>

<div class="w-i-wrapper">
    <div class="w-i-buttons">
        <button>ADD TO CART</button>
    </div>
    <div class="w-i-description">
        <%= watch.description %>
    </div>
</div>